app.spaceheapanalyzer.managerip=localhost
app.spaceheapanalyzer.managerusername=
app.spaceheapanalyzer.managerpassword=
app.spaceheapanalyzer.jmappath=/Users/yuvaldori/Workspace/CSM-Magic-Tools/SpaceHeapAnalyzer/output
app.spaceheapanalyzer.javajarpath=/Users/yuvaldori/Workspace/CSM-Magic-Tools/SpaceHeapAnalyzer/SpaceHeapAnalyzer-1.0-SNAPSHOT-jar-with-dependencies.jar